<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>


	<header th:replace="layout/layout :: header"></header>
	
	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header text-white bg-dark fs-3" th:text="${titulo}"></div>
			<div class="card-body  bg-dark">


				<div class="list-group">	
						
					<ul>
					
					<li class="list-group-item"
						th:text="${'Content: ' + post.contenido}"></li>
					
					<li th:if="${post.categoria!=null && (post.categoria.length()>1) && !(post.categoria.equals('Select'))}" 
					class="list-group-item"
						th:text="${'Category: ' + post.categoria}" ></li>
					<li class="list-group-item"
						th:text="${'Date of creation: ' + post.createAt}">	</li>
						
						<li class="list-group-item"> <img th:if="${(post.imagen!=null) && (post.imagen.length()>1)}" th:src="@{'/uploads/'+${post.imagen}}" 
				th:alt="${post.imagen}" class="img-thumbnail rounded float float-right" style="max-width: 25%;"/>
						</li>
						
						</ul>
				</div>
				<div class="list-group-item">

					<a th:href="@{'/form/'+${post.id}}"><input type="submit"
						class="btn btn-primary col-4 col-sm-2 " value="Edit"></a> 
			<form th:action="@{'/posts/'+${post.id}}" th:method="DELETE">
		<input type="submit" id="deletePost" name="deletePost" value="Delete" class="btn btn-danger col-4 col-sm-2 my-2 " >
		</form>
				</div>

			</div>
		</div>

	</div>
	<div class="container button-create text-end">
		<a th:href="@{/form}" ><input type="submit" value="New Post"
			class="btn btn-dark "></a>
	</div>
	<div th:replace="layout/layout :: javascript"></div>
	
</body>
</html>