<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header">	
		</header>

	<h1 th:text="${titulo}"></h1>
	<div th:if="${#lists.isEmpty(posts)}" class="alert alert-info my-4"
		th:text="'No hay posteos asignados actualmente'"></div>
	<div th:if="${not #lists.isEmpty(posts)}" class="container py-4">


		<div class="card">

			<div th:each="post: ${posts}">
				<div class="card-body col-12 col-sm-6">

					<h5 class="card-tittle col-12 col-sm-8" th:text="${post.titulo}"></h5>
					<div class="list-group">
						<!-- <h6 class="list-group-item" th:text="${post.contenido}"></h6>  -->

						<div class="list-group-item">
							<h6 class="col-12 col-sm-8 "
								th:text="${'Date of creation: ' + post.createAt}"></h6>
						</div>
						<div class="list-group-item">
							<a th:href="@{'/detalle/'+${post.id}}"><input type="submit"
								class="btn btn-secondary col-4 col-sm-3" value="Detail"></a>
							<a th:href="@{'/form/'+${post.id}}"><input type="submit"
								class="btn btn-primary col-4 col-sm-3" value="Edit"></a> 
								
				

		
		<form th:action="@{'/posts/'+${post.id}}" th:method="DELETE">
		<input type="submit" id="deletePost" name="deletePost" value="Delete" class="btn btn-danger" th:attr="onclick=|deletePost('${post.id}')|" >
		</form>

					
						
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	<div class="container button-create my-2">
		<a th:href="@{/form}"><input type="submit" value="New Post"
			class="btn btn-dark"></a>
	</div>
	

	<div th:replace="layout/layout :: javascript"></div>
							<script type="text/javascript">							
function deletePost(id){
$.ajax({
                type: "DELETE",
                url: "/posts"+id,
                success: function (data) {
                  console.log(data);
                },
                error: function () {
                    
                }
                 
            });
            
            
}

</script>
</body>
</html>